# Station Configuration
# Format: station_id  output=/path  playlist=/path  [random=bool] [loop=bool] [unique=bool]
# output    = custom HLS output directory (optional)
# playlist  = auto-inject all *.mp3 from this folder on startup (optional)

musikita      output=./output/musikita  playlist=./playlist random=true  loop=true  unique=true
# radio2      output=./output/radio2    playlist=./playlist random=true  loop=true  unique=true
